:root {
    --primary-blue: hsl(223, 87%, 63%);
    --secondary-blue:hsl(223, 100%, 88%);
    --secondary-red: hsl(354, 100%, 66%);
    --neutral-grey: hsl(0, 0%, 59%);
    --neutral-dark-blue: hsl(209, 33%, 12%);
}

::placeholder {
    color: var(--secondary-blue);
}

html {
    font-family: 'Libre Franklin', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    text-align: center;
}




/* Header */

header h1 {
    font-size: 2.2em;
    margin: 4em 0 1.5em;
}


/* Main */

.launch {

    h2 {
        font-size: 2em;
        font-weight: 300;
        color:var(--neutral-grey);

        b {
            color: black;
        }
    }

    p {
        font-size: 1.2rem;
        font-weight: 300;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 80vw;
        margin: 3em auto;

        input {
            border-radius: 2em;
            padding: 1em;
            border: 1px var(--secondary-blue) solid;

        }

        input[type="email"]:invalid {
            border: 1px solid red;
        }


        .email-input {
            padding-left: 2em;
        }

        .notify-button {
            background: var(--primary-blue);
            color: white;
        }
    }
}


.slack-image {
    img {
        width: 80vw;
        margin: 7em 0;
    }  
}

/* Footer */

footer {


    .socials {
        display: flex;
        justify-content: center;
        gap: 2em;
        margin: 4em 0 3em;

        a {
            ion-icon {
                font-size: 2rem;
                color: var(--secondary-blue);
                border: 1px solid var(--secondary-blue);
                border-radius: 2em;
                padding: .5em;
            }
        }
    }

    p {
        font-size: 1rem;
        color: var(--neutral-grey);

        a {
            color: var(--neutral-grey);
        }
    }

}


/* Desktop */

@media only screen and (min-width: 600px) {

    /* Header */

    header h1 {
        font-size: 3em;
        margin: 3em 0 1.5em;
    }
    
    /* Main */

    .launch {

        h2 {
            font-size: 4em;
            margin-bottom: 0;
        }

        p {
            font-size: 1.8rem;
        }

        form {
            flex-direction: row;
            justify-content: center;

            input {
                padding: 1em 6em;
            }

            .email-input {
                padding: 1em 12em 1em 2em;
            }
        }
    }

    .slack-image {
        img {
            width: 60em;
            margin: 7em 0;
        }  
    }
}